<Files "wp-login.php">
AuthType Basic
AuthName "User: word Password: word"
AuthUserFile /etc/apache2/AUTH/word
Require valid-user
</Files>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /ztach/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ztach/index.php [L]
</IfModule>

# END WordPress