.contact {
    display: block;
}

.contact textarea{
    display: block;
    font-size: 20px;
    width: 80%;
    min-height: 200px;
    line-height: 1.3;
    margin: 0 auto;
}

.contact button{
    display: block;
    padding: 10px 30px;
    margin: 20px 10% 0 auto;
    cursor: pointer;
    background-color: brown;
    color: yellow;
    transition: 2s;
}

.contact button:hover{
    background-color: yellow;
    color: brown;
}

.contact h1{
    display: block;
    font-size: 26px;
    margin: 0 auto 20px 10%;

}